{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bot/streamer.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script>
        $BOT_HOST = "{{ macros.bot_host() }}";
    </script>
    <script src="{{ macros.bot_host() }}/socket.io/socket.io.js"></script>
    <script type="{{ macros.bot_host() }}/easyrtc/easyrtc.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bot/streamer.js') }}"></script>

    <div role="main" id="maind">
        <div class="container-fluid">
            <div class="row">
                <div id="video">
                    <video id="self"></video>
                </div>
                <div id="bot">
                    <label for="bot_name">Name</label>
                    <input id="bot_name" placeholder="bot1">
                    <button onclick="stream()" class="btn btn-dark">Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
